
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>School Finder</title>

<link rel="stylesheet" href="css/bootstrap.css" type="text/css">
<link rel="stylesheet" href="css/styles.css" />
    <link href="css/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
</head>

<body class="bg">

<!-- <div class="top-red-bar">
    <div class="container">
      <h1 class="navbar-brand navbar-brand_"> <img alt="" src="images/ati-logo.png"> </h1>
      
        <div class="head-rt move-right">
        	<ul>
                <li><A href="#Login">Login</A></li>                
            </ul>
        </div>
      
    </div>
  </div> -->
   
      
	
	<div class="search-box">
<div class="inner index" style="text-align:left; font-weight:400">

<h1 class="margin-bot">Enter Home Address to find schools in your area</h1>

<div class="row margin-bot">
	<div class="col-md-4">
    	<label>Address 1 <span class="required"><i class="fa fa-star" aria-hidden="true"></i></span></label>
		<input type="text" class="form-control" placeholder="Enter Address 1"/>
    </div>
    <div class="col-md-4">
    	<label>Address 2 <span class="required"><i class="fa fa-star" aria-hidden="true"></i></span></label>
		<input type="text"  class="form-control" placeholder="Enter Address 2" />
    </div>
    <div class="col-md-4">
    	<label>State <span class="required"><i class="fa fa-star" aria-hidden="true"></i></span></label>
		<input type="text"  class="form-control" placeholder="Enter State" />
    </div>
</div>    
<div class="row margin-bot">	
	<div class="col-md-4">
    	<label>ZipCode <span class="required"><i class="fa fa-star" aria-hidden="true"></i></span></label>
		<input type="text"  class="form-control"  placeholder="Enter ZipCode" />
    </div>


    <div class="col-md-4">
    	<label>Latitude</label>
		<input type="text"  class="form-control"  placeholder="Enter Range in Miles" />
    </div>
    <div class="col-md-4">
    	<label>Longitude</label>
		<input type="text"   class="form-control" placeholder="Enter Range in Miles" />
    </div>
    </div>
    <div class="row margin-bot">
        <div class="col-md-4">
            <label for="sel1">Radius</label>
            <select class="form-control" id="sel1">
                <option>5 miles or less</option>
                <option>10 miles or less</option>
                <option>15 miles or less</option>
                <option>20 miles or less</option>
            </select>
        </div>
        <div class="col-md-4 move-right">
            <label for="sel1">&nbsp;</label>
            <a href="#GenSchoolSearch" class="search-but move-right"  >search</a>
        </div>
    </div>
      

    </div>



</body>
</html>
